<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ferienakademie.smartquake">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SmartQuake"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SimulationActivity"
            android:parentActivityName=".activity.StartActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:label="@string/act_create_building_title"
            android:name=".activity.CreateActivity"
            android:parentActivityName=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:label="@string/act_settings_title"
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.SimulationActivity"></activity>

        <activity
            android:label="@string/act_choose_eq_data_title"
            android:name=".activity.ChooseEarthQuakeDataActivity"
            android:parentActivityName=".activity.SimulationActivity"></activity>

        <activity
            android:name=".activity.EarthquakeDataStartActivity"
            android:parentActivityName=".activity.StartActivity"></activity>


    </application>

</manifest>